################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/code/spreadsheet/.vs
.vscode/settings.json
/code/Grid/.vs/Grid
/code/Grid/x64/Debug
